@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Lojas.com <a href="https://learn.microsoft.com/aspnet/core">Contrate já para a sua!</a>.</p>
</div>
