@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Email"] = "teste@gmail.com";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Teste...</p>
<p>@ViewData["email"]</p>